body {
  margin: auto;
  font-family: "Roboto Serif", serif;
  overflow-x: hidden;
  transition: margin-left 0.3s;
}
button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Roboto Serif", serif;
  font-size: 15px;
}
li {
  color: white;
}
#top_bar {
  display: flex;
  height: "30px";
  background-color: #dc4c3e;
  justify-content: space-between;
  align-items: center;
}

.left_button_container {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.right_button_container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding-right: 25px;

  font-size: 15px;
}

.right_button_item {
  padding-right: 5px;
}

.main_search_label {
  height: 30px;
  width: 218px;
  background-color: #da665c;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

::placeholder {
  color: white;
  opacity: 1;
  padding-left: 10px;
}

.left_button_group {
  margin: 0px;
  padding: 0px;
}
.right_button_group {
  margin: 0px;
  padding: 0px;
}
/*     -------------------------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  margin-top: 50px;
  background-color: #fafafa;
  transition: left 0.5s;
  z-index: 1;
}

#sidebarContainer {
  list-style-type: none;

  width: 200px;
  margin-left: -20px;
}
#sidebarContainer2 {
  list-style-type: none;
  margin-top: 20px;
  width: 200px;
  margin-left: -20px;
  align-self: center;
}

.sideBarContainerItem {
  display: grid;
  grid-template-columns: 30px 120px;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  margin-bottom: 3px;
  border-radius: 5px;
  height: 35px;
  padding-left: 10px;
}
.sideBarContainerItem:hover {
  background-color: #d8d8d8;
}

.sideBarContainerItem2 {
  display: grid;
  grid-template-columns: 30px 120px;
  flex-direction: row;
  align-content: center;

  gap: 3px;

  background-color: #d8d8d8;
  height: 40px;
  border-radius: 5px;
}

.sideBarContainerText {
  color: #6b6b6b;
  text-align: left;
  width: 180px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-self: center;
  cursor: pointer;

  margin-top: 7px;
  margin-bottom: 7px;
}

.sideBarContainerText2 {
  color: #6b6b6b;
  text-align: left;
  width: 200px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-row-end: auto;
  cursor: pointer;
  height: 33px;
}

#chevron_left_icon {
  color: #6b6b6b;
  width: fit-content;
  transition: color 0.3s;
}

#chevron_left_icon:hover {
  color: #da665c;
  width: fit-content;
}

#add_icon {
  color: #6b6b6b;
  width: fit-content;
}

#add_icon:hover {
  color: #da665c;
  width: fit-content;
}

#sideIcons {
  padding-right: 15px;
}

.sidebar_open {
  left: 0;
}

/* ------------------------------------------------------------------------*/

.body_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
  width: 800px;
  min-width: 300px;
}
.main_app {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  padding: 10px;
  max-width: 900px;
}
.card_item_container {
  color: black;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  min-width: 500px;
  margin-top: 2px;
  box-shadow: 1px 1px 1px 1px #e6e6e6;
  border-radius: 10px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  cursor: pointer;
}
.gorev_ismi {
  color: black;
}
.gorev_aciklamasi {
  color: black;
}
.gorev_tarihi {
  color: black;
}
.card_items_center {
  color: black;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 4px;
  width: 400px;
}
.card_items_left {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  align-items: start;
}
.card_items_right {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 15px;
  align-items: flex-end;
}

.container {
  display: block;
  position: relative;
  padding-left: 45px;

  cursor: pointer;
  font-size: 22px;

  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #da665c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.yeni_gorev {
  display: flex;
  background-color: #da665c;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  order: 1;
  height: 60px;
  min-width: 350px;
  margin-top: 2px;
  box-shadow: 1px 1px 1px 1px #e6e6e6;
  border-radius: 10px;
  font-size: 15px;
  margin: auto;
  cursor: pointer;
}

.yeni_gorev button {
  flex: 1;
  background-color: #da665c transparent;
  color: white;
  border: none;
  position: relative;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.yeni_gorev:hover {
  background-color: #b3544c;
}
.popup {
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 50%;
  height: 80px;
  border: #333;
  outline: #333;
  justify-content: center;
}

.popup.active {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.yeni-gorev:hover .gripbutton {
  background-color: #b3544c;
}
hr {
  width: 100%;
}

#addTask {
  background-color: #b3544c;
  width: 100%;
  height: 40px;
  margin: auto;
}

#gorevIsmi {
  height: 30px;
  width: 218px;
  background-color: #da675c60;
  border: #333 solid 1px;
  border-radius: 4px;
  outline: none;
}
#gorevTarihi {
  height: 30px;
  width: 218px;
  background-color: #da675c60;
  border: #333 solid 1px;
  border-radius: 4px;
  outline: none;
}

#gorevAciklamasi {
  height: 30px;
  width: 218px;
  background-color: #da675c60;
  border: #333 solid 1px;
  border-radius: 4px;
  outline: none;
}
.gorev_ismi {
  font-weight: 600;
  flex: 1;
}

.gorev_aciklamasi {
  flex: 1;
  overflow: hidden;
}

.cardContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
  padding: 0px;
}
